.invoiceListItemWrapper {
    width: 100%;
    height: 50px;

    background-color: rgba(210, 210, 210, 0.15);
    box-shadow: 1px 0px 3px rgba(128, 128, 128, 0.35);
    margin: 10px 0px 0px 2px;
    
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5px;

    border-radius: 5px;
    font-size: 18px;
}

.invoiceListItemWrapperItem {
    width: 15%;
}

.invoiceListItemWrapper-div {
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
}

.invoiceListItemWrapper-div-btn-edit {
    height:60%;
    width: 40%;
    align-self: center;
    justify-self: center;
    background-color: #f39c12;
    border:0px;
    color:white;
    font-weight: 900;
    font-size: 1.1em;
}

.invoiceListItemWrapper-div-btn-edit:hover {
    background-color: #cf8612;
}

.invoiceListItemWrapper-div-btn-rmv {
    height:60%;
    width: 50%;
    align-self: center;
    justify-self: center;
    border:0px;
    color:white;
    font-weight: 900;
    font-size: 1.1em;
    background-color: #e74c3c!important;
}

.invoiceListItemWrapper-div-btn-rmv:hover {
    background-color: #c63c2c!important;
}